/* CONFIG BASE DO SITE */
    .backgroundSite{
        background-color:#e9ecef;
    }
    .backgroundNavbar{
        background-color:black;
    }
    ::webkit-scrollbar{
      width:5px
    }
    ::webkit-scrollbar-track{
      border-radius:38px;
    }

/* SECTION NAVBAR */
    .logo-white{
        font-family: 'Staatliches', cursive;
        color:white
    }
    .logo-white:hover{
        font-family: 'Staatliches', cursive;
        color:white
    }
    .itemsNavbar-White{
        font-size:x-large;
        text-decoration:none;
        color:#4c94ff;
        font-family: 'Staatliches', cursive;
    }
    .span{
      color:#b699ff;
    }
    .logo-black{
        font-family: 'Staatliches', cursive;
        color:black;
    }
    .itemsNavbar-black{
        font-size:x-large;
        text-decoration:none;
        color:black;
        font-family: 'Staatliches', cursive;
    }

/* SECTION CAROUSEL HOME */
    .carousel-control-next-icon{
      background-image: url(./assets/211607_right_arrow_icon.svg)!important;
    }
    .carousel-control-prev-icon {
      background-image: url(./assets/211689_left_arrow_icon.svg);
    }
    .carousel-indicators{
      margin-bottom: -25px;
    }
    @media (min-width: 992px) {
      .carrousel1 {
        display: none;
      }
    }
    @media (max-width: 991px) {
      .carrousel1-2 {
        display: none;
      }
    }

/* SECTION ABOUT */
  .imageAbout{
    width: 100%;
    height: auto;
  }
  /* WIDESCREEN */
    @media(min-width: 992px){
    .tituloAbout{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: clamp(2.75rem, 4.5vw, 5.5rem);
    }
    .spanAbout{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }  
    .paragrafoAbout{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: clamp(0.3rem, 1.5vw, 2.0rem);
      }
    }
  /* Mobile */
    @media(max-width: 991px){
      .tituloAbout{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: clamp(1.2rem, 8.5vw, 3.2rem);
      }
      .spanAbout{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
      }  

      .paragrafoAbout{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-align: justify;
        font-size: clamp(0.3rem, 3.5vw, 2rem);
      }
    }

/* SECTION TEAM */

  /* WIDESCREEN */
  @media(min-width: 992px){
    .divColMobile{
        display: none !important;
    }
    .sectionTeam{
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: clamp(2.75rem, 4.5vw, 5.5rem);
    }
    .nomeTeam{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: clamp(2.75rem, 4.5vw, 5.5rem);
    }
    .cargoTeam{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: clamp(1.0rem, 1.5vw, 4.5rem);
    }  
    
  }

  /* Mobile */
  @media(max-width: 991px){
    .divColWidescreen{
      display: none !important;
  }
    .sectionTeam{
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: clamp(1.2rem, 8.5vw, 3.2rem);
    }
    .nomeTeam{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: clamp(1.4rem, 6.5vw, 4.5rem);
    }
    .cargoTeam{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: clamp(1.0rem, 6.5vw, 1.5rem);
    }  
    
  }

  

.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

